/* ------------------------------------------- */
/* Custom properties                           */
/* ------------------------------------------- */

:root {
  /* Colors */
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
}

/* ------------------------------------------- */
/* Generals                                   */
/* ------------------------------------------- */

body {
  width: 100vw;
  font-family: "Raleway", sans-serif;
}

/* ------------------------------------------- */
/* Header section with Navbar                 */
/* ------------------------------------------- */

header {
  height: 100px;
  width: 92vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  align-self: center;
  width: 92px;
}

/* Navbar */

.main-nav {
  height: 100%;
  width: 300px;
}

.main-nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav ul li {
  height: 100%;
  border-top: 3px solid transparent;
}

.main-nav ul li a {
  display: block;
  height: 100%;
  padding: 48px 30px 0 34px;
  font-weight: 500;
}

.main-nav ul li:hover {
  border-top: 3px solid var(--primary-color);
}

.main-nav ul li a:hover {
  color: var(--primary-color);
}

/* ------------------------------------------- */
/* Main section                               */
/* ------------------------------------------- */

main {
  width: 93vw;
  max-width: 1440px;
  margin: 0 auto;
}

/* *** Heading *** */

h1 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 700;
}

/* ------------------------------------------- */
/* Search Form                                */
/* ------------------------------------------- */


.search-form {
  position: relative;
  width: 420px;
  margin-top: 20px;
}

.search-form-prepend {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--background-color);
}

.search-form-prepend i {
  font-size: 18px;
}

input[class="search-form-input"] {
  height: 50px;
  margin-left: 50px;
  padding-left: 14px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
}

input[class="search-form-input"]:focus {
  outline: none;
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.search-form-btn-lg {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 135px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
}

.search-form-btn-lg:hover {
  opacity: 0.8;
}

.search-form-btn-sm {
  display: none;
}

/* ------------------------------------------- */
/* Filter section                             */
/* ------------------------------------------- */

.filters-section {
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters-title {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 25px 6px 3px;
}

.filter {
  position: relative;
  margin-right: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.filter:hover > .filter-prepend {
  color: white;
  background-color: var(--primary-color);
  /* opacity: 0.8; */
}

.filter:hover > .filter-label {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

.filter-prepend {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 9999px;
}

.filter-label {
  height: 50px;
  padding: 10px 18px 10px 60px;
  border: 2px solid #d4d4d4;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

/* Search info */

.search-info-section {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.info-logo {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 9999px;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 800;
}

/* ------------------------------------------- */
/* Accommodation section                      */
/* ------------------------------------------- */

.accommodations-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------- */
/* All accommodations                         */
/* ------------------------------------------- */

.all-accommodations-section {
  width: 66%;
  padding: 40px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.accommodation-title {
  font-size: 23px;
  margin: 6px 0;
}

.accommodation-cards-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.accommodation-card {
  
  width: 246px;
  margin-top: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.accommodation-card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
}


.accommodation-card-img img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-card-title {
  padding: 10px 0;
  font-size: 16px;
}

.stars {
  padding: 6px 0;
  color: var(--primary-color);
  font-size: 13px;
}

.grey-star {
  color: #d4d4d4;
}

.more-accomodation-link {
  margin-top: 40px;
}


/* ------------------------------------------- */
/* Popular accommodations                      */
/* ------------------------------------------- */

.popular-accommodations-section {
  width: 32%;
  padding: 40px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.popular-heading {
  display: flex;
  justify-content: space-between;
}

.popular-heading i {
  font-size: 22px;
}

.popular-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popular-card {
  height: 145px;
  width: 100%;
  margin: 30px 0;
}

.popular-card .card-wrapper {
  flex-direction: row;
  height: 100%;
}

.popular-card:last-child {
  margin-bottom: 0;
}

.popular-card img {
  width: 125px;
  min-width: 125px;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
}

.popular-card .accommodation-card-body {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.popular-card .accommodation-card-title {
  padding: 0 0 10px 0;
}

.popular-card .stars {
  justify-self: end;
}

/* media queries for accomodations containers*/

@media screen and (max-width: 1432px) {
  .all-accommodations-section {
    width: 61%;
  }
  .popular-accommodations-section {
    width: 36%;
  }
}

@media screen and (max-width: 1220px) {
  .all-accommodations-section {
    width: 58%;
  }
  .popular-accommodations-section {
    width: 39%;
  }
}

@media screen and (max-width: 1120px) {
  .all-accommodations-section {
    width: 48%;
  }
  .popular-accommodations-section {
    width: 48%;
  }
}


/* ------------------------------------------- */
/* Activities section                         */
/* ------------------------------------------- */

.activities-section {
  margin-top: 40px;
}

.activities-cards-container {
  margin-top: 40px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 44px;
}

.activity-card {
  width: 22.5%;
}

.activities-section .card-wrapper {
  
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.activities-section .card-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card-1 .card-wrapper {
  height: 444px;
}

.card-2 .card-wrapper {
  height: 235px;
}

.card-3 .card-wrapper {
  height: 164px;
}

.card-4 .card-wrapper {
  height: 444px;
}

.card-5 .card-wrapper {
  height: 195px;
}

.card-6 .card-wrapper {
  height: 209px;
}

.activity-card-img {
  height: 100%;
  overflow: hidden;
}

.activity-card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-card-title {
  height: 56px;
}

.activity-card-title h3 {
  font-size: 16px;
  padding: 20px;
}

@media screen and (max-width: 1244px) {
  .activity-card-title {
    height: 68px;
  }
}


/* ------------------------------------------- */
/* Footer                                     */
/* ------------------------------------------- */

footer {
  margin-top: 40px;
  height: 300px;
  background-color: var(--background-color);
}