/* ------------------------------------------- */
/* Reset                                      */
/* ------------------------------------------- */

/* Modified from Andy Bell reset */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules + remove default margin and padding */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* A elements */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------- */
/* Custom properties                           */
/* ------------------------------------------- */

:root {
  /* Colors */
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
}

/* ------------------------------------------- */
/* Generals                                   */
/* ------------------------------------------- */

body {
  width: 100vw;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}


/* ------------------------------------------- */
/* Header section with Navbar                 */
/* ------------------------------------------- */

header {
  height: 90px;
  width: 92.5vw;
  max-width: 1440px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo img {
  width: 92px;
}

/* Navbar */

.main-nav {
  height: 100%;
  width: 300px;
}

.main-nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-nav ul li {
  height: 100%;
  border-top: 3px solid transparent;
}

.main-nav ul li a {
  display: block;
  height: 100%;
  padding: 48px 30px 0 34px;
  font-weight: 500;
}

.main-nav ul li:hover {
  border-top: 3px solid var(--primary-color);
}

.main-nav ul li a:hover {
  color: var(--primary-color);
}


/* ------------------------------------------- */
/* Main section                               */
/* ------------------------------------------- */

main {
  width: 92.5vw;
  max-width: 1440px;
  margin: 0 auto;
}

/* *** Heading *** */

h1 {
  margin: 10px 0;
  font-size: 21.5px;
  font-weight: 800;
}

/* *** Search section *** */

/* Search Form */

.search-form {
  position: relative;
  width: 420px;
  margin-top: 20px;
}

.search-form-prepend {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--background-color);
}

.search-form-prepend i {
  font-size: 18px;
}

input[class="search-form-input"] {
  height: 50px;
  margin-left: 50px;
  padding: 14px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: 700;
}

input[class="search-form-input"]:focus {
  outline: none;
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.search-form-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 135px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
}

/*  Filters section  */


/* *** Accommodation section  *** */


/* *** Activities section  *** */

/* ------------------------------------------- */
/* Footer                                     */
/* ------------------------------------------- */
