/* ------------------------------------------- */
/* Custom properties                           */
/* ------------------------------------------- */

:root {
  /* Colors */
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  
  scroll-behavior: smooth;
}

/* ------------------------------------------- */
/* Generals                                   */
/* ------------------------------------------- */

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 22px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: 800;
}

/* ------------------------------------------- */
/* Header section with Navbar                 */
/* ------------------------------------------- */

header {
  height: 100px;
  width: 93vw;
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  margin-bottom: 15px;
}

.logo img {
  width: 90px;
}

/* Primary navbar */

.primary-nav {
  height: 100%;
  width: 300px;
}

.primary-nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
}

.primary-nav ul li {
  height: 100%;
  border-top: 2px solid transparent;
}

.primary-nav ul li a {
  display: block;
  height: 100%;
  padding: 50px 30px 0 30px;
  font-weight: 500;
}

.primary-nav ul li:hover {
  border-top: 2px solid var(--primary-color);
  
  transition: all 0.35s ease-in;
}

.primary-nav ul li a:hover {
  color: var(--primary-color);
  transition: all 0.25s ease-in;
}




/* ------------------------------------------- */
/* Main section                               */
/* ------------------------------------------- */

main {
  width: 93vw;
  max-width: 1340px;
  margin: 30px auto 0;
}

.heading p {
  margin-top: 10px;
}


/* ------------------------------------------- */
/* Search Form                                */
/* ------------------------------------------- */


.search-form {
  position: relative;
  width: 420px;
  margin-top: 20px;
}

.search-form-prepend {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--background-color);
}

.search-form-prepend i {
  font-size: 18px;
}

input[class="search-form-input"] {
  height: 50px;
  margin-left: 50px;
  padding-left: 14px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: 800;
  line-height: 50px;
}

input[class="search-form-input"]:focus {
  outline: none;
  border-top-width: 4px;
  border-bottom-width: 4px;
}

.search-form-btn-lg {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 135px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
}

.search-form-btn-lg:hover {
  opacity: 0.8;
  transition: all 0.25s ease-in;
}

.search-form-btn-sm {
  display: none;
}

/* ------------------------------------------- */
/* Filter section                             */
/* ------------------------------------------- */

.filters-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.filters-title {
  padding: 0 7px;
  font-size: 18px;
  font-weight: 800;
}

.filter {
  position: relative;
  cursor: pointer;
}

.filter:hover > .filter-prepend {
  color: white;
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.filter:hover > .filter-label {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in;
}

.filter-prepend {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 9999px;
}

.filter-label {
  height: 50px;
  padding: 10px 18px 10px 60px;
  border: 2px solid #d4d4d4;
  border-radius: 9999px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

/* Search info */

.search-info {
  margin-top: 36px;
  display: flex;
  align-items: center;
}

.info-logo {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 9999px;
}

.info-logo i {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 900;
}




/* ------------------------------------------- */
/* Accommodation section                      */
/* ------------------------------------------- */

.accommodations-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------- */
/* All accommodations                         */
/* ------------------------------------------- */

.all-accommodations-section {
  width: 65.7%;
  padding: 45px 40px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.accommodation-cards-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.accommodation-card {
  width: 30.5%;
  min-width: 225px;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

@media screen and (max-width: 1432px) {
  .accommodation-card {
    width: 46%;
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.accommodation-card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
}


.accommodation-card-img img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-card-body {
  padding: 0 10px;
}

.accommodation-card-title {
  padding: 10px 0;
  font-size: 16px;
}

.accomodation-card-price {
  font-size: 14px;
  padding-bottom: 5px;
}

.stars {
  padding: 6px 0;
  color: var(--primary-color);
  font-size: 12px;
}

.grey-star {
  color: #d4d4d4;
}

.more-accomodation-link {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 800;
}


/* ------------------------------------------- */
/* Popular accommodations                      */
/* ------------------------------------------- */

.popular-accommodations-section {
  width: 31.3%;
  padding: 45px 40px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.popular-heading {
  display: flex;
  justify-content: space-between;
}

.popular-heading i {
  font-size: 22px;
}

.popular-cards-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}

.popular-card {
  height: 145px;
  width: 100%;
}

.popular-card .card-wrapper {
  flex-direction: row;
  height: 100%;
}

.popular-card:last-child {
  margin-bottom: 0;
}

.popular-card img {
  width: 130px;
  min-width: 130px;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
}



.popular-card .accommodation-card-body {
  padding: 12px 20px 3px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.popular-card .accommodation-card-title {
  padding: 0 0 10px 0;
}

.popular-card .stars {
  justify-self: end;
}

@media screen and (max-width: 1180px) {
  .popular-card img {
    width: 110px;
    min-width: 110px;
  }
  .popular-card .accommodation-card-body {
    padding: 12px 10px 3px 8px;
  }
}

/* media queries for accomodations containers*/

@media screen and (max-width: 1432px) {
  .all-accommodations-section {
    width: 61%;
  }
  .popular-accommodations-section {
    width: 36%;
  }
}

@media screen and (max-width: 1166px) {
  .all-accommodations-section {
    width: 60%;
  }
  .popular-accommodations-section {
    width: 38%;
  }
  .accommodation-card {
    min-width: 200px;
  }
}


/* ------------------------------------------- */
/* Activities section                         */
/* ------------------------------------------- */

.activities-section {
  margin-top: 60px;
}

.activities-cards-container {
  margin-top: 25px;
  max-height: 446px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 45px;
}

.activity-card {
  /* 1/4 container width minus 1/3 gap amount */
  width: calc(25% - 33.75px);
}

.activities-section .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.activities-section .card-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* individual cards height adjustments */

.card-1 .card-wrapper {
  height: 444px;
}
.card-2 .card-wrapper {
  height: 237px;
}
.card-3 .card-wrapper {
  height: 164px;
}
.card-4 .card-wrapper {
  height: 444px;
}
.card-5 .card-wrapper {
  height: 190px;
}
.card-6 .card-wrapper {
  height: 208px;
}

.activity-card-img {
  height: 100%;
  overflow: hidden;
}

.activity-card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* individual img positioning adjustments */

.card-1 .activity-card-img img {
  height: 110%;
}
.card-2 .activity-card-img img {
  height: 130%;
}
.card-3 .activity-card-img img {
  height: 150%;
}
.card-4 .activity-card-img img {
  height: 115%;
}
.card-5 .activity-card-img img {
  height: 130%;
}
.card-6 .activity-card-img img {
  height: 135%;
}

.activity-card-title {
  height: 55px;
  min-height: 55px;
  display: flex;
  align-items: center;
}

.activity-card-title h3 {
  font-size: 16px;
  padding: 0 20px;
}

@media screen and (max-width: 1338px) {
  .activity-card-title {
    height: 68px;
  }
}




/* ------------------------------------------- */
/* Footer                                     */
/* ------------------------------------------- */

footer {
  margin-top: 50px;
  background-color: var(--background-color);
}

footer .wrapper {
  width: 93vw;
  max-width: 1340px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
}

.footer-item {
  width: 33.3%;
}

footer h3 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 15px;
}