/* ------------------------------------------- */
/* Header section with Navbar                 */
/* ------------------------------------------- */

header {
  height: 150px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin: 0 0 34px 0;
}

.logo {
  width: 110px;
  margin: 24px auto;
}

/* Primary navbar */

.primary-nav {
  width: 100%;
}

.primary-nav ul li {
  width: 50vw;
  padding: 12px 0 0 0;
  border: unset;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  font-size: 18px;
}

.primary-nav ul li:hover {
  color: unset;
  border-top: unset;
}

.primary-nav ul li.nav-active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.primary-nav ul li a {
  padding: 0 0 15px 0;
}

.primary-nav ul li a:hover {
  color: unset;
}

/* ------------------------------------------- */
/* Main section                               */
/* ------------------------------------------- */

main {
  width: 100vw;
}

.heading {
  width: 90vw;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 24.6px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.heading p {
  font-size: 18px;
  margin-top: 16px;
}

@media screen and (max-width: 365px) {
  h1 {
    font-size: 21px;
  }
  .heading p {
    font-size: 15px;
  }
}


/* ------------------------------------------- */
/* Search Form                                */
/* ------------------------------------------- */

.search-section {
  width: 90vw;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  max-width: 400px;
  margin-top: 42px;
}

.search-form-prepend {
  height: 58px;
  width: 58px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.search-form-prepend i {
  font-size: 20px;
}

input[class="search-form-input"] {
  height: 58px;
  width: calc(100% - 110px);
  margin: 0 58px;
  padding: 20px;
  font-size: 20px;
}

input[class="search-form-input"]:focus {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.search-form-btn-lg {
  display: none;
}

.search-form-btn-sm {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 58px;
  width: 58px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
}

/* ------------------------------------------- */
/* Filter section                             */
/* ------------------------------------------- */

.filters-section {
  gap: 15px;
}

.filters-title {
  font-size: 20px;
}

.filter-prepend {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.filter-label {
  height: 50px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 25px;
}

/* Search info */

.search-info-section {
  margin-top: 44px;
  font-size: 16px;
}

.info-logo {
  padding: 12px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}




/* ------------------------------------------- */
/* Accommodation section                      */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* All accommodations                         */
/* ------------------------------------------- */

.all-accommodations-section {
  width: 90%;
  margin: 0 auto;
}

.accommodation-card {
  width: 100%;
}

/* ------------------------------------------- */
/* Popular accommodations                      */
/* ------------------------------------------- */

.popular-accommodations-section {
  width: 100%;
  padding: 0;
  border-radius: 0;
}

.popular-heading {
  width: 90%;
  margin: 30px auto;
}

.popular-cards-container {
  width: 90%;
  margin: 30px auto;
  justify-content: center;
  align-content: center;
}


/* ------------------------------------------- */
/* Activities section                         */
/* ------------------------------------------- */

.activities-section {
  width: 90vw;
  margin: 20px auto 0;
}

.activities-cards-container {
  max-height: unset;
  gap: 30px;
}

.activities-section .card-wrapper {
  height: 190px;
}

.activity-card {
  width: 100%;
}

.activity-card-title {
  height: 70px;
}

.activity-card-title h3 {
  font-size: 16px;
  padding: 0 20px;
}

/* ------------------------------------------- */
/* Footer                                     */
/* ------------------------------------------- */

footer .wrapper {
  width: 85%;
  padding: 0;
  flex-direction: column;
}

.footer-item {
  width: 100%;
  margin-top: 45px;
}

.footer-item:last-child {
  width: 100%;
  margin-bottom: 30px;
}

footer h3 {
  font-size: 18px;
}

footer li a {
  font-size: 16px;
  padding: 8px 0;
}