/* ------------------------------------------- */
/* Header section with Navbar                 */
/* ------------------------------------------- */

header {
  height: 132px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 0 34px 0;
}

.logo {
  margin: 24px auto;
}

.logo img {
  width: 70px;
}

/* Primary navbar */

.primary-nav {
  width: 100%;
  height: 100px;
}

.primary-nav ul li {
  width: 50vw;
  padding: 20px 0 0 0;
  border: unset;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  font-size: 18px;
}

.primary-nav ul li:hover {
  color: unset;
  border-top: unset;
}

.primary-nav ul li.nav-active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.primary-nav ul li a {
  font-size: 16px;
  padding: 0 0 12px 0;
}

.primary-nav ul li a:hover {
  color: unset;
}

/* ------------------------------------------- */
/* Main section                               */
/* ------------------------------------------- */

main {
  width: 100%;
  margin-top: 15px;
}

.heading {
  width: 90vw;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.heading p {
  font-size: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 365px) {
  h1 {
    font-size: 21px;
  }
  .heading p {
    font-size: 15px;
  }
}


/* ------------------------------------------- */
/* Search Form                                */
/* ------------------------------------------- */

.search-section {
  width: 90%;
  margin: 0 auto;
}

.search-form {
  width: 100%;
  max-width: 400px;
  margin-top: 35px;
}

.search-form-prepend {
  height: 50px;
  width: 50px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.search-form-prepend i {
  font-size: 20px;
}

input[class="search-form-input"] {
  height: 50px;
  width: calc(100% - 80px);
  padding: 20px;
  font-size: 18px;
}

input[class="search-form-input"]:focus {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.search-form-btn-lg {
  display: none;
}

.search-form-btn-sm {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
}

.search-form-btn-sm:hover {
  opacity: 0.8;
}

/* ------------------------------------------- */
/* Filter section                             */
/* ------------------------------------------- */

.filters-section {
  margin-top: 35px;
  gap: 15px;
}

.filters-title {
  font-size: 18px;
}

.filter-prepend {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.filter-label {
  height: 50px;
  padding-left: 60px;
  font-size: 16px;
  line-height: 25px;
}

/* Search info */

.search-info {
  margin-top: 44px;
  font-size: 16px;
}

.info-logo {
  padding: 12px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}




/* ------------------------------------------- */
/* Accommodation section                      */
/* ------------------------------------------- */


/* ------------------------------------------- */
/* All accommodations                         */
/* ------------------------------------------- */

.all-accommodations-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
}

.accommodation-cards-container {
  gap: 12px;
}

.accommodation-card {
  width: 100%;
}

.accommodation-card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.stars {
  font-size: 12px;
}

/* ------------------------------------------- */
/* Popular accommodations                      */
/* ------------------------------------------- */

.popular-accommodations-section {
  width: 100%;
  padding: 0;
  border-radius: 0;
}

.popular-heading {
  width: 90%;
  margin: 40px auto 30px;
}

.popular-cards-container {
  width: 90%;
  margin: 30px auto;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

.popular-card .accommodation-card-body {
  padding-left: 20px;
}

.popular-card img {
  width: 130px;
  min-width: 130px;
}

.popular-card .stars {
  font-size: 11px;
}


/* ------------------------------------------- */
/* Activities section                         */
/* ------------------------------------------- */

.activities-section {
  width: 90%;
  margin: 15px auto 0;
}

.activities-cards-container {
  max-height: unset;
  gap: 20px;
}

.activities-section .card-wrapper {
  height: 192px;
}

.activity-card {
  width: 100%;
}

.activities-section .card-wrapper:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


.activity-card-title {
  height: 56px;
  min-height: 56px;
}

.activity-card-title h3 {
  font-size: 16px;
  padding: 0 20px;
}

/* ------------------------------------------- */
/* Footer                                     */
/* ------------------------------------------- */

footer .wrapper {
  width: 85%;
  padding: 0;
  flex-direction: column;
}

.footer-item {
  width: 100%;
  margin-top: 45px;
}

.footer-item:last-child {
  width: 100%;
  margin-bottom: 30px;
}

footer h3 {
  font-size: 18px;
}

footer li a {
  font-size: 16px;
  padding: 8px 0;
}